<h1>Create new task</h1>

<%= simple_form_for @task do |f| %>
  <%= f.error_messages %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  
  <h3>Tags</h3>
  <div id='tags'>
    <%= f.simple_fields_for :tags do |tag| %>
      <%= render 'tag_fields', :f => tag %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add tag', f, :tags %>
    </div>
  </div>
  <%= f.submit 'Save changes' %>
<% end %>