<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">DoDo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if params[:controller] == 'home' %>">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item <%= 'active' if params[:controller] == 'tasks' %>">
            <a class="nav-link" href="/tasks">Tasks</a>
          </li>
          <li class="nav-item <%= 'active' if params[:controller] == 'tags' %>">
            <a class="nav-link" href="/tags">Tags</a>
          </li>
          <% if logged_in? %>
            <li class="dropdown nav-link">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log in", login_path, class: "nav-link btn btn-outline-success"%>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container" id="main">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
